<li class="attribute reputation">
  <h4 class="attribute-name box-title">Reputation</h4>
  <div class="attribute-value attributable">
    <input type="text" name="flags.me5e.paragon" placeholder="0" value="${flags.paragon ?? 0
        }" data-dtype="Number" />
    <span class="sep"> / </span>
    <input type="text" name="flags.me5e.renegade" placeholder="0" value="${flags.renegade ?? 0
        }" data-dtype="Number" />
  </div>

  <footer class="attribute-footer">
    <span class="spell-dc">Paragon</span>
    <span class="sep"> / </span>
    <span class="spell-dc">Renegade</span>
  </footer>
</li>