<li class="attribute shields">
  <h4 class="attribute-name box-title">Shields</h4>
  <div class="attribute-value multiple">
    <input name="system.attributes.hp.shields" type="text" value="${data.system.attributes.hp.shields}"
      data-dtype="Number" placeholder="5" />
    <span class="sep"> / </span>
    <input name="system.attributes.hp.shieldsMax" type="text" value="${data.system.attributes.hp.shieldsMax}"
      data-dtype="Number" placeholder="5" />
  </div>
  <footer class="attribute-footer">
    <input name="system.attributes.hp.shieldsRegen" type="text" class="shieldsRegen" placeholder="Shield Regen."
      value="${data.system.attributes.hp.shieldsRegen}" data-dtype="Number" />
  </footer>
</li>