<div class="counter flexrow indoctrination">
  <h4> Indoctrination </h4>
  <div class="counter-value">
    <input type="text" name="flags.me5e.indoctrination" placeholder="0" value="${flags.indoctrination ?? 0
        }" data-dtype="Number" />
  </div>
</div>